nav {
  background-color: #00bdff !important;
  box-shadow: none !important;
}

nav i {
  color: #fff;
}

.header {
  margin-top: 20px;
}

.reset {
  padding: 10px;
  border: none;
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
  outline: none;
}

.pdf {
  padding: 10px;
  border: none;
  background-color: #00bdee;
  color: white;
  border-radius: 5px;
  outline: none;
}

.excel {
  padding: 10px;
  border: none;
  background-color: #01ff82;
  color: white;
  border-radius: 5px;
  outline: none;
}

button {
  transition: .3s;
}

button:hover,
button:focus {
  background-color: #00bdff !important;
  transform: scale(0.95);
}

.main {
    margin-top: 20px;
} 

footer {
  position: absolute;
  width: 100%; 
  bottom: 0;
  color: #4e4e4e;
  text-align: center;
  line-height: 5px;
}
